@inherits LayoutComponentBase
@inject IStudentData studentData

<PageTitle>Grade Escolar</PageTitle>

@* <div class="main">
    <header class="p-4 mt-1">
    <Navbar Students=@students />
    </header>

    <div class="content p-2">
    @Body
    </div>

    <footer class="bottom-row">
    <p class="text-center">Todos os direitos reservados</p>
    </footer>
    </div> *@

<div class="d-flex flex-column vh-100">
    @* <div class="row">
        <div class="col"> *@
    <header>
        <Navbar Students=@students />
    </header>
    @* </div>
        </div> *@
    @* <div class="row flex-fill">
        <div class="col d-flex flex-column"> *@
    <div class="content h-100">
        @Body
    </div>
    @* </div>
        </div> *@
</div>

@code {
    private List<StudentModel> students = new();

    protected override void OnInitialized()
    {
        students = studentData.GetAllStudents();
    }
}