@inherits LayoutComponentBase
@inject IStudentData studentData

<PageTitle>Grade Escolar</PageTitle>

<div class="main">
    <header>
        <Navbar Students=@students />
    </header>

    <div class="container">
        @Body
    </div>

    <footer>
        <div class="container">
            Todos os direitos reservados
        </div>
    </footer>
</div>

@code {
    private List<StudentModel> students = new();

    protected override void OnInitialized()
    {
        students = studentData.GetAllStudents();
    }
}