@inherits LayoutComponentBase

<PageTitle>Grade Escolar</PageTitle>

<div class="main">
    <header>
        <Navbar />
    </header>

    <div class="content px-4">
        @Body
    </div>

    <footer>
        Todos os direitos reservados
    </footer>
</div>