@inherits LayoutComponentBase
@inject IStudentData studentData

<PageTitle>Grade Escolar</PageTitle>

<div class="main">
    <header class="px-4">
        <Navbar Students=@students />
    </header>

    <div class="content px-4">
        @Body
    </div>

    <footer class="bottom-row px-4">
        <p class="text-center">Todos os direitos reservados</p>
    </footer>
</div>

@code {
    private List<StudentModel> students = new();

    protected override void OnInitialized()
    {
        students = studentData.GetAllStudents();
    }
}