@page "/"
@page "/{displayName}"
@inject IStudentData studentData
@using SchoolGrade.PWA.Components

<main class="full-height">
    <div class="container">
        <SelectWeekDay @bind-Today="@today"></SelectWeekDay>
    </div>
    <div class="container">
        @if (selectedStudent != null)
        {
            foreach (string time in selectedStudent.Timetable.SchoolGradeTable[today].Keys)
            {
                <TimeTableList Student=@selectedStudent WeekDay=@today Time=@time></TimeTableList>
            }
        }
    </div>
</main>

@code {
    [Parameter] public string DisplayName { get; set; }
    private DayOfWeek today;
    private StudentModel selectedStudent = new();

    protected override void OnParametersSet()
    {
        selectedStudent = studentData.GetStudent(DisplayName);
        today = CheckForWeekend();
    }

    private DayOfWeek CheckForWeekend()
    {
        var weekDay = DateTime.Today.DayOfWeek;
        if (weekDay == DayOfWeek.Saturday || weekDay == DayOfWeek.Sunday)
            return DayOfWeek.Monday;
        else
            return weekDay;
    }
}