@page "/"
@page "/{displayName}"
@inject IStudentData studentData

<h1>Olá @selectedStudent?.FirstName! Hoje é @weekDay</h1>

@code {
    private string weekDay = DateTime.Now.ToString("dddd");

    [Parameter] public string DisplayName { get; set; }

    private StudentModel selectedStudent = new();

    protected override void OnParametersSet()
    {
        selectedStudent = studentData.GetStudent(DisplayName);
    }
}