@page "/sampledata"
@inject ISubjectData subjectData
@inject IClassGradeData classGradeData

<h3>Sample Data</h3>

@if (subjectsCreated)
{
    <h4>Subjects have been created</h4>
}
else
{
    <button class="btn btn-primary" @onclick="CreateSubjects">Create Subjects</button>
}

@if (classGradeCreated)
{
    <h4>Class Grade created!</h4>
}
else
{
    <button class="btn btn-primary" @onclick="CreateClassGrade">Create Grade</button>
}

@code
{
    private bool subjectsCreated = false;
    private bool classGradeCreated = false;

    List<SubjectModel> subjs = new();

    private async Task CreateSubjects()
    {
        var subjects = await subjectData.GetAllSubjects();

        if (subjects?.Count > 0)
            return;

        SubjectModel subj = new()
        {
            Name = "Matemática",
            Color = "#123456"
        };
        await subjectData.CreateSubject(subj);
        subjs.Add(subj);

        subj = new()
        {
            Name = "Português",
            Color = "#654321"
        };
        await subjectData.CreateSubject(subj);
        subjs.Add(subj);

        subj = new()
        {
            Name = "Geografia",
            Color = "#ABCDEF"
        };
        await subjectData.CreateSubject(subj);
        subjs.Add(subj);

        subj = new()
        {
            Name = "História",
            Color = "#FEDCBA"
        };
        await subjectData.CreateSubject(subj);
        subjs.Add(subj);

        subjectsCreated = true;
    }

    private async Task CreateClassGrade()
    {
        var classGrade = await classGradeData.GetAllClassGrades();

        if (classGrade?.Count > 0)
            return;

        ClassGradeModel clsGrd = new()
        {
            Grade = 7,
            Subjects = subjs
        };
        await classGradeData.CreateClassGrade(clsGrd);

        classGradeCreated = true;
    }
}