<div class="container p-1">
    <div class="card border-primary">
        <div class="card-header">@Time</div>
        <div class="card-body text-primary">
            <h6>@Student.Timetable.SchoolGradeTable[WeekDay][Time].Name</h6>
        </div>
    </div>
</div>

@code {
    [Parameter] public StudentModel Student { get; set; }
    [Parameter] public DayOfWeek WeekDay { get; set; }
    [Parameter] public string Time { get; set; }
}